/* Position coordinates */
#coordinates {
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	text-align: right;
	text-indent: 0;
	font-size: 85%;
	text-transform: none;
	white-space: nowrap;
}
/* correct position for VE */
.ve-ce-surface-enabled #coordinates {
	margin-right: 2em;
	margin-top: -1em;
}
.mw-indicator #coordinates {
	position: absolute;
	top: 3em;
	right: 0;
	line-height: 1.6;
	text-align: right;
	font-size: 92%;
	white-space: nowrap;
}

/* FR topicon position */
div.flaggedrevs_short {
	position: absolute;
	top: -3em;
	right: 100px;
	z-index: 1;
}

/* Make "From Wikipedia, the free encyclopedia" a bit smaller (T283756) */
#siteSub {
	font-size: 80%;
}
body.skin-vector-legacy #siteSub {
	font-size: 92%;
}


/* Move page status indicators down slightly */
.mw-body .mw-indicators {
	padding-top: 0.4em;
}

/* Override [[phab:T265947]] */
.mw-body-content blockquote {
	border-left: none;
}

/* Vector-specific list display in message boxes */
.compact-ambox table .mbox-text-span {
	list-style-type: disc;
	list-style-image: url(/w/skins/Vector/resources/common/images/bullet-icon.svg);
}